body,html,#root {
  margin: 0;
  padding:0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: Arial;

}

.MainBox{
  height: 100%;
  width: 100%;
 
  

}


.page-profile{
  

display: flex;
justify-content: space-around;
  padding: 2px;
  width: 100%;
    background-color: #EEEEEE;
    height: 30%;
}

.profile-form{
  width: 45%;
  background-color: white;
   
}
.page-user{
    width: 40%;
 
}
.profile-list{
  width: 100%;
  height: 50%;

 padding: 2px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}
.profile-item{
  width: 100%;
  border-bottom: 1px solid rgb(186, 174, 174);
  margin: 2px;
 
}

.page-events{
  width: 100%;
  height: 70%;

  
}
input:hover {
  background-color: lightblue;
  color: black;
  border: none;
}
input:focus {
  outline: none;
}
textarea:focus{
  outline: none;
}   
textarea:hover{
 background-color: lightblue;
  color: black;
  border: none;
}
select:hover{
   background-color: lightblue;
  color: black;
  border: none;
}